<p>kawabunga</p>

<!-- <%= render "sessions/form" %> -->

<form class="" action="<%=users_url%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    email
    <input type="text" name="user[email]" value="email">
  </label>
  <br>
  <label>
    password
    <input type="text" name="user[password]" value="password">
  </label>
  <br>
  <input type="submit" name="" value="sign up">
</form>
